body{
    font-family: sans-serif;
    background-color: rgba(91, 209, 245, 0.7);
    background: linear-gradient(to bottom right, rgba(236, 77, 66, 0.4),rgba(148, 236, 66, 0.4),rgba(120,230,220,0.4),rgba(236, 66, 165, 0.4));
    color: rgba(236, 77, 66, 0.6);
    height: 100dvh;
}

/* Display Container */
#weatherApp{
    margin: auto;
    width: 350px;
    height: auto;
    text-align: center;
    margin-top: 4rem;
}
/* Display Container */

/* Input Field */
#location-input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
}
/* Input Field */

/* API Data */
#weather-data{
    margin: 0 auto;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 900;
}
/* API Data */